// MIXINS
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin delivebooColors {
  background-color: $_primary;
  color: $_white;
}

// COMMONS
* {
  font-family: 'IBM Plex Sans', sans-serif;
}

// -- HEADER --
header {

  nav {

    // logo
    img {
      width: 6.25rem;
    }

    // hamburger menu
    button.navbar-toggler {
      background-color: $_primary;

      padding: .5rem 1rem;
      border: none;

      i {
        font-size: .9rem;

        color: $white;
      }
    }

    // dropdown
    #dropdown {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      margin: 0;
      padding: 1rem 0;
      
      li {
        @include flex-center;

        list-style: none;

        i {
          color: $_primary;
        }
      }
    }
  }
}

// -- MAIN --
main {
  background-color: $_whiteSmoke;

  // toast benvenuto
  div.benvenuto {
    @include delivebooColors;

    padding: .8rem 1.25rem;
    border: none;
    border-radius: 1rem;

    h3 {
      font-size: 1rem;
      margin: 0;
    }
  }

  // card ristorante
  div.restaurant {
    border: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
    // cover ristorante
    img.restaurant-cover {
      width: 100%;
      height: 10rem;
  
      object-fit: cover;
  
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }

    // info ristorante
    div.card-body {
      color: $_black ;
      padding: 0;

      // info-header
      div.card-title-container {
        @include delivebooColors;
        padding: 1.2rem 1.25rem;

        h2 {
          font-size: 1.6rem;

          margin: 0;
        }
      }

      // info-body
      div.card-info-container {
        padding: 1.25rem 1rem;

        p.description {
          color: $_darkGrey;
        }

        h3 {
          font-size: 1.2rem;
        }

        ul.contacts-container {
          background-color: $_whiteSmoke;
          
          padding: .4rem .8rem;
          border-radius: 1rem;

          li {
            list-style: none;

            padding: .6rem 0;
            
            i {
              width: 1.6rem;

              font-size: 1rem;
              color: $_primary;
            }
          }
          
        }

      }
    }

  }

}