// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//00000000 COLOR PALETTE 00000000

// COMMONS
$_primary: #00CCBC;
$_darkerPrimaryHover: #00C2B3;
$_brighterPrimaryHover: #53C5B9;

$_black: #2E3333;
$_grey: #BAC3C3;
$_whiteSmoke: #F9FAFA;
$_white: #FFF;

$_green: #D0EB99;
$_purple: #440063;
$_red: #CC3A2F;

// HOME PAGE

  // favourites dishes
  $_pink: #FFEAE4;

  // work with us
  $_tomato: #FE483B;
  $_orange: #FF8100;

  // footer
  $_darkGrey: #434848;

  // footer icon hover
  $_blue: #1977F2;
  $_lightBlue: #54ACED;
  $_cherry: #C01D64;


// RATING
  $_goodRating: #4D7C1B;
  $_avgRating: #007E8A;

  $_starGrey: #A2AFAF;
  $_starLightGrey: #D1D7D7;